.social-links {
    margin-top: 10px !important;
    margin-bottom: 0;
    margin-right: 0 !important;
    padding: 0 2px !important;
}
/* Ogólny styl sekcji */
.intro {
  padding: 20px;
  background-color: #f9f9f9;
  text-align: center;
}

.intro .headline {
  font-size: 28px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}

.intro .description {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

/* Układ kolumn */
.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.col-full {
  flex: 1 1 100%;
  max-width: 100%;
}

.col-full .book-item {
  width: 100%;
  max-width: 600px;
}

/* Styl książek */
.book-item {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.book-cover {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.book-title {
  font-size: 20px;
  margin: 10px 0;
  color: #333;
}

.book-item .description {
  font-size: 14px;
  color: #555;
  margin-bottom: 15px;
}

/* Styl przycisku */
.btn-download {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.btn-download:hover {
  background-color: #0056b3;
}
